<section>
    <form action="/create-group" method="POST">
        <label>Group name:
            <input name="name" type="text">
        </label>
        <label>Description:
            <input type="textarea" name="description">
        </label>
        <label>Budget:
            <input type="number" name="budget" placeholder="£">
        </label>
        <label>Giving date:
            <input type="date" name="deadline">
        </label>
        <button type="submit">Create</button>
    </form>
</section>
