<section>
    {{#if groups}}
        <ul>
            {{#each groups}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
        <a href="/create-group">New group</a>
    {{else}}
        <p>Your Christmas is looking pretty lonely!
        Why don't you <a href="/create-group">create a new group</a>.
        </p>
    {{/if}}
</section>
