<section>
    <form action="/login" method="POST">
        <label>Email: 
            <input type="text" name="email" {{#if formData}}value="{{formData.email}}{{/if}}">
        </label>
        <label>Password:
            <input type="password" name="password">
        </label>
        <button type="submit">Login</button>
    </form>
</section>

