<section>
    <form action="/login" method="POST">
        <label>Email: 
            <input type="text">
        </label>
        <label>Password:
            <input type="text">
        </label>
    </form>
</section>

