<section>
    <form action="/register" method="POST">
        <label>Name: 
            <input type="text">
        </label>
        <label>Email: 
            <input type="email">
        </label>
        <label>Password: 
            <input type="password">
        </label>
        <label>Confirm password: 
            <input type="password">
        </label>
        <button type="submit">Register</button>
    </form>
</section>
