<section>
    <form action="/register" method="POST">
        <label>Name: 
            <input type="text" name="name" {{#if formData}}value="{{formData.name}}"{{/if}}>
        </label>
        <label>Email: 
            <input type="email" name="email"{{#if formData}}value="{{formData.email}}"{{/if}}>
        </label>
        <label>Password: 
            <input type="password" name="password">
        </label>
        <label>Confirm password: 
            <input type="password" name="confirmPassword">
        </label>
        <button type="submit">Register</button>
    </form>
</section>
